<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sparkcompass.tobaccodock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.sparkcompass.tobaccodock.SparkCompassApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sparkcompass.tobaccodock.home.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.sparkcompass.tobaccodock.welcome.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sparkcompass.tobaccodock.common.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sparkcompass.tobaccodock.beacons.BeaconsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sparkcompass.tobaccodock.welcome.SwitchAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sparkcompass.tobaccodock.events.ScheduledEventsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sparkcompass.tobaccodock.events.ScheduleItemDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.unity3d.player.VideoPlayer"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sparkcompass.tobaccodock.vrvideo.VrVideoActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <category android:name="com.google.intent.category.CARDBOARD" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sparkcompass.tobaccodock.questionnaires.QuestionnaireActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <service android:name="com.pacificfjord.pfapi.utilites.TCSGcmIntentService" />
        <service
            android:name="com.pacificfjord.pfapi.utilites.TCSNotificationService"
            android:enabled="true"
            android:exported="true"
            android:label="PF notification service" />
        <service
            android:name="com.gimbal.internal.service.GimbalService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.sparkcompass.sparkcompass.GIMBAL_SERVICE" />
            </intent-filter>
        </service>
        <service android:name="com.sparkcompass.tobaccodock.common.TCSService" />

        <receiver
            android:name="com.gimbal.internal.service.GimbalServiceStartStopReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.pacificfjord.pfapi.utilites.TCSGcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.sparkcompass.sparkcompass" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2f30b99e4fcf67dc1a0d40b5e87a13a3abc48816" />
    </application>

</manifest>